.table
{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: thistle;
    height: 2.5rem;
}

.row
{
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    align-items: center;
    text-align: center;
    margin: 0 7% 0.7rem 7%; 
}

.total
{
    display: flex;
    justify-content: center;
}